* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #121212;
    color: #e0e0e0;
    overflow: hidden;
}

.sidebar {
    width: 250px;
    background-color: #1e1e2f;
    color: white;
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    position: fixed;
    height: 100%;
    overflow-y: auto;
    margin-top: 60px;
}

.option {
    display: block;
    /* Để các mục trong sidebar xếp dọc */
    position: relative;
    /* Giúp ::before căn chỉnh theo phần tử này */
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    /* transition: color 0.2s ease; */
    overflow: hidden;
    /* Đảm bảo hiệu ứng không tràn ra ngoài */
}


.option::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #33334d;
    transform: scaleX(0);
    /* Ban đầu thu nhỏ lại */
    transform-origin: left;
    /* Xuất phát từ giữa */
    transition: transform 0.3s ease-in-out;
    z-index: -1;
}

/* Khi hover, mở rộng từ giữa ra hai bên */
.option:hover::before {
    transform: scaleX(1);
}

.homepath {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.homepath:hover {
    color: #007bff;
}

.currentpath {
    text-decoration: none;
    color: #007bff;
}

#HomePage {
    font-size: 20px;
    padding: 30px 10px;
    color: yellowgreen;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 30px 30px;
    display: block;
    font-size: 14px;
}

.content {
    flex: 1;
    padding: 20px;
    margin-left: 250px;
    overflow-y: auto;
    margin-top: 60px;
}


.admin {
    display: flex;
    align-items: center;
    padding: 30px 10px;
    background-color: #33334d;
}

.admin img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.admin span {
    font-size: 14px;
}

.custom-scrollbar {
    overflow-y: auto;
    /* overflow-x: auto; */
    /* Bật tính năng cuộn dọc */
    height: 100%;
    /* Chiều cao của container */
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    /* Độ rộng của thanh cuộn */
    transition: width 0.3s, height 0.3s;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #333;
    /* Màu nền của track */
    border-radius: 10px;
    /* Bo tròn track */

}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #555;
    /* Màu của thanh cuộn */
    border-radius: 10px;
    /* Bo tròn thanh cuộn */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #888;
    /* Màu của thanh cuộn khi hover */
}


/* ------------------- */

.path {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
}

.container {
    width: 90%;
    height: 1000px;
    min-width: 1000px;
    margin: 20px auto;
    background: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
}

.container .container-item {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.header {
    background-color: #1e1e2f;
}


.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #1e1e2f;
    color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.header h1 {
    font-size: 18px;
}

.header .user-info {
    display: flex;
    align-items: center;
}

.header .user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.btn {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
}

.btn-delete,
.btn-cancel {
    background-color: #f8d7da;
    color: #d9534f;
    width: 200px;
}

.btn-delete:hover,
.btn-cancel:hover {
    background-color: #d9534f;
    color: white;
}

.btn-edit,
.btn-accept {
    background-color: #31a8ff;
    color: #ffffff;
    width: 200px;
}

.btn-edit:hover,
.btn-accept:hover {
    background-color: #007ed9;
}

.btn-message {
    background-color: #28a745;
    color: #ffffff;
    width: 200px;
}

.btn-message:hover {
    background-color: #218838;
}

.container .user-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container .user-info img {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
    object-position: center;
}

.user-info input {
    height: 100%;
    background-color: #1e1e1e;
    color: #ffffff;
    border: 1px solid #444444;
    font-size: 1em;
}

.user-info input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

#user-avatar:hover {
    cursor: pointer;
}

#user-name {
    height: 70px;
    font-size: 34px;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.user-info .details ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.user-info .details li {
    height: 70px;
    list-style: none;
    display: flex;
    align-items: center;
    border-bottom: solid 1px #33334d;
    padding: 10px;
}

.user-info .details li span {
    font-weight: bold;
    margin-right: 20px;
}

.user-info .details li p {
    margin: 0;
}

.container .car-info {
    display: flex;
    justify-content: start;
    align-items: center;
    /* padding: 20px; */
    width: 100%;
    height: 70%;
    flex-direction: column;
}


.btn-add {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    height: 30px;
    background-color: #333;
}

.btn-add:hover {
    background-color: #007bff;
}

.car-info-head {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 34px;
    /* margin: 20px; */
}

.car-info-body {
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 20px; */
}

.car-info-footer {
    height: 5%px;
    width: 100%;
    display: none;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.previous-car,
.next-car {
    height: 100%;
    padding: 5px 10px;
    border-radius: 5%;
    position: absolute;
}

.previous-car {
    left: 0;
}

.next-car {
    right: 0;
}

.previous-car:hover,
.next-car:hover {
    background-color: #444;
    cursor: pointer;
}

.edit-car-btn {
    display: flex;
    align-items: center;
    padding: 5px 40px;
    height: 100%;
    background-color: #333;
    gap: 10px;
    margin: auto;
}

.edit-car-btn:hover {
    background-color: #007bff;
    cursor: pointer;
}

.car-info-image {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.car-info img {
    width: 375px;
    height: 175px;
    border-radius: 5%;
    margin-bottom: 20px;
}

.car-info-detail ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.car-info-detail {
    display: none;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.zero-car {
    display: none;
}

.car-info-detail li {
    list-style: none;
    display: flex;
    border-bottom: solid 1px #33334d;
    padding: 20px;
}

.car-info-detail li span {
    font-weight: bold;
    margin-right: 20px;
}

.car-info-detail li p {
    margin: 0;
}


.history {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    /* padding: 20px; */
    width: 100%;
    height: 40%;
}

.history-head {
    display: flex;
    align-items: flex-start;
    height: 20%;
    width: 100%;
    justify-content: space-between;
    font-size: 34px;
}

.history-body {
    height: 80%;
    overflow-y: hidden;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    border-radius: 10px;
}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

table thead {
    table-layout: fixed;
    background-color: #555;
}

tbody {
    display: block;
    max-height: 150px;
    /* Chiều cao tối đa cho phần nội dung cuộn */
    overflow-y: auto;
    overflow-x: hidden;
    /* Kích hoạt cuộn dọc */
}

table th,
table td {
    /* background-color: #33334d; */
    color: white;
    padding: 10px 20px;
}

table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table tr {
    border-bottom: solid 1px #33334d;
    height: 40px;
}

table tbody tr:hover {
    background-color: #222;
}

.complete {
    color: #28a745;
}

.inprogress {
    color: yellow;
}

.cancel {
    color: #dc3545;
}

.loader {
    border: 2px solid #5e5e5e;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}