* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #121212;
    color: #e0e0e0;
    overflow: hidden;
}

.sidebar {
    width: 250px;
    background-color: #1e1e2f;
    color: white;
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    position: fixed;
    height: 100%;
    overflow-y: auto;
    margin-top: 60px;
}

#HomePage {
    font-size: 20px;
    padding: 30px 10px;
    color: yellowgreen;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 30px 30px;
    display: block;
    font-size: 14px;
}

.sidebar a:hover {
    background-color: #33334d;
}


.path {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
}

.container {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
}


.content {
    flex: 1;
    padding: 20px;
    margin-left: 250px;
    overflow-y: auto;
    margin-top: 60px;
}

.admin {
    display: flex;
    align-items: center;
    padding: 30px 10px;
    background-color: #33334d;
}

.admin img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.admin span {
    font-size: 14px;
}


.header {
    background-color: #1e1e2f;
}


.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #1e1e2f;
    color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.header h1 {
    font-size: 18px;
}

.header .user-info {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-delete {
    background-color: #f8d7da;
    color: #d9534f;
}

.btn-delete:hover {
    background-color: #d9534f;
    color: white;
}

.btn-edit {
    background-color: #31a8ff;
    color: #ffffff;
}

.btn-edit:hover {
    background-color: #007ed9;
}