.service-info {
    position: relative; /* Để lớp phủ nằm đúng vị trí */
    width: 100%;
    height: 500px; /* Chiều cao của section */
    overflow: hidden; /* Ẩn ảnh nền tràn ra ngoài section */
}

.service-info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://www.getac.com/content/dam/uploads/2023/03/autorepairworkshop_cover.png'); /* Đường dẫn đến ảnh nền */
    background-size: cover; /* Đảm bảo ảnh nền bao phủ toàn bộ section */
    background-position: center; /* Căn giữa ảnh nền */
    z-index: -1; /* Đặt ảnh nền phía sau nội dung */
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Màu đen mờ 50% */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Căn giữa theo chiều dọc */
    align-items: center; /* Căn giữa theo chiều ngang */
    color: white; /* Màu chữ trắng */
    text-align: center; /* Căn giữa chữ */
}

.info-desc {
    margin: 0 15%;
}

.service-detail {
    margin: 2% 10%;

    position: relative;
    background-color: white;
    color: black;
    text-align: left;
}

.detail-title {
    text-align: center;
    margin-bottom: 1%;
}

.detail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: larger;
}

.detail-table {
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;

    th,
    td {
        border: 1px solid black;
        padding: 8px;
    }
}

.reservation {
    margin: 3% 0;
    display: flex;
    justify-content: center;
}

.button-reservation {
    border-radius: 50px;
    --border-color: green;
    border: 2px solid var(--border-color);
    background-color: transparent;
    color: black;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.button-reservation:hover {
    background-color: var(--border-color);
    color: white;
}
