.body {
    background-color: lightgray;
}

.car-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    height: auto;
    margin-top: 7%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5%;
}

.car{
    position: relative;
    overflow: hidden;
}

.car img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.car-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: background-color 0.3s ease;
    flex-direction: column;
}

.car:hover .car-overlay{
    background-color: rgba(0, 0, 0, 0.6);
}

.button-detail {
    border-radius: 50px;
    --border-color: green;
    border: 2px solid var(--border-color);
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-detail:hover {
    background-color: var(--border-color);
}