* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #121212;
    color: #e0e0e0;
    overflow: hidden;
}

.sidebar {
    width: 250px;
    background-color: #1e1e2f;
    color: white;
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    position: fixed;
    height: 100%;
    overflow-y: auto;
    margin-top: 60px;
}

.option {
    display: block;
    /* Để các mục trong sidebar xếp dọc */
    position: relative;
    /* Giúp ::before căn chỉnh theo phần tử này */
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    /* transition: color 0.2s ease; */
    overflow: hidden;
    /* Đảm bảo hiệu ứng không tràn ra ngoài */
}


.option::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #33334d;
    transform: scaleX(0);
    /* Ban đầu thu nhỏ lại */
    transform-origin: left;
    /* Xuất phát từ giữa */
    transition: transform 0.3s ease-in-out;
    z-index: -1;
}

/* Khi hover, mở rộng từ giữa ra hai bên */
.option:hover::before {
    transform: scaleX(1);
}

.homepath {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.homepath:hover {
    color: #007bff;
}

.currentpath {
    text-decoration: none;
    color: #007bff;
}


#HomePage {
    font-size: 20px;
    padding: 30px 10px;
    color: yellowgreen;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 30px 30px;
    display: block;
    font-size: 14px;
}

.content {
    flex: 1;
    padding: 20px;
    margin-left: 250px;
    overflow-y: auto;
    margin-top: 60px;
}


.admin {
    display: flex;
    align-items: center;
    padding: 30px 10px;
    background-color: #33334d;
}

.admin img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.admin span {
    font-size: 14px;
}

/* ------------------- */

.path {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
}

.container {
    width: 90%;
    margin: 20px auto;
    background: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    overflow-x: auto;
}


.header {
    background-color: #1e1e2f;
}


.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #1e1e2f;
    color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.header h1 {
    font-size: 18px;
}

.header .user-info {
    display: flex;
    align-items: center;
}

.header .user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.custom-scrollbar {
    overflow-y: auto;

}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    /* Độ rộng của thanh cuộn */
    transition: width 0.3s, height 0.3s;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #333;
    /* Màu nền của track */
    border-radius: 10px;
    /* Bo tròn track */

}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #555;
    /* Màu của thanh cuộn */
    border-radius: 10px;
    /* Bo tròn thanh cuộn */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #888;
    /* Màu của thanh cuộn khi hover */
}

/* ------------------- */

.car-detail,
.car-part-container {
    min-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 70px;
    padding: 20px;
    background: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.car-detail img {
    width: 50%;
    min-width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.car-info-detail ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.car-info-detail {
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
}

.car-info-detail li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #33334d;
    padding: 15px;
    height: 60px;
}

.-car-name,
.-car-brand,
.-registration-number,
.-purchased-year {
    font-weight: bold;
    margin: auto 20px;
}

.car-info-detail li p {
    margin: 0;
}

.edit-carname,
.edit-brand,
.edit-regnum,
.edit-year {
    display: none;
}

.car-name:hover .edit-carname {
    display: block;
}

.car-brand:hover .edit-brand {
    display: block;
}

.registration-number:hover .edit-regnum {
    display: block;
}

.purchased-year:hover .edit-year {
    display: block;
}

.material-icons {
    font-size: 20px;
    margin-right: 10px;
    padding: 5px 10px;
}

.material-icons:hover {
    color: #007bff;
    cursor: pointer;
}


table {
    width: 80%;
    border-collapse: collapse;
    margin: 30px 0;
}

thead {
    height: 50px;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

tbody {
    width: 100%;
}

tr {
    height: 50px;
    padding: 10px;
    font-size: 20px;
    border-bottom: solid 1px #33334d;
    position: relative;
}

td {
    height: 50px;
    padding: 10px;
    text-align: center;
}

.car-system {
    height: 40px;
    color: gray;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    font-style: italic;
}

#dropdown {
    display: block;
    position: absolute;
    top: 100%;
    right: -100px;
    background-color: #222;
    border: 1px solid #ccc;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 10;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #444;
}

.Status:hover {
    cursor: pointer;
    background-color: #555;
}

.ok {
    color: lightgreen;
}

.Maintenance {
    color: red;
}

.Maintenance:hover {
    color: orangered;
}

.Expired {
    color: yellow;
}

.not-available {
    color: gray;
}

.not-available:hover {
    color: darkgray;
}

.InstallationDate:hover,
.ExpirationDate:hover {
    cursor: pointer;
    background-color: #555;
}

input[type="date"],
input[type='text'] {
    height: 100%;
    background-color: #1e1e1e;
    color: #ffffff;
    border: 1px solid #444444;
    font-size: 16px;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="text"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    /* Đảo màu để phù hợp giao diện tối */
}

/* submit */
.submit {
    min-width: 800px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: end;
    flex: 0 0 auto;
    padding: 10px;
    margin: 10px 70px;
}

.btn-done,
.btn-cancel,
.btn-delete {
    background: none;
    /* Xóa màu nền */
    border: none;
    /* Xóa viền */
    color: inherit;
    /* Giữ màu văn bản */
    cursor: pointer;
    /* Đặt cursor mặc định */
    height: 50px;
    width: 120px;
    background-color: #1e1e1e;
}

.btn-done:hover {
    background-color: #007ed9;
}

.btn-done span,
.btn-cancel span,
.btn-delete span {
    color: white;
    margin: 0;
}


.btn-done:hover span,
.btn-cancel:hover span,
.btn-delete:hover span {
    color: white;
}

.btn-cancel:hover {
    background-color: darkgreen;
}

.btn-delete:hover {
    background-color: #d9534f;
}