* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #121212;
    color: #e0e0e0;
    overflow: hidden;
}

/* header */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #1e1e2f;
    color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.header h1 {
    font-size: 18px;
}

.header .user-info {
    display: flex;
    align-items: center;
}

.header .user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* sidebar */
.sidebar {
    width: 250px;
    background-color: #1e1e2f;
    color: white;
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    position: fixed;
    height: 100%;
    overflow-y: auto;
    margin-top: 60px;

    .homepage {
        font-size: 20px;
        color: yellowgreen;
        text-align: center;
    }

    .sign-out {
        color: red;
    }
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 30px 30px;
    display: block;
    font-size: 14px;
}

/* admin */
.admin {
    display: flex;
    align-items: center;
    padding: 30px 10px;
    background-color: #33334d;
    justify-content: space-evenly;
}

.admin img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* option */
.option {
    display: block;
    /* Để các mục trong sidebar xếp dọc */
    position: relative;
    /* Giúp ::before căn chỉnh theo phần tử này */
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    /* transition: color 0.2s ease; */
    overflow: hidden;
    /* Đảm bảo hiệu ứng không tràn ra ngoài */
}

.option::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #33334d;
    transform: scaleX(0);
    /* Ban đầu thu nhỏ lại */
    transform-origin: left;
    /* Xuất phát từ giữa */
    transition: transform 0.3s ease-in-out;
    z-index: -1;
}

/* Khi hover, mở rộng từ giữa ra hai bên */
.option:hover::before {
    transform: scaleX(1);
}